<div class="search_container">
  <form action="">
    <input type="search" aria-label="search" id="search_bar" name="search" placeholder="search in the site...">
  </form>
  <div id="search_close">Close</div>

</div>