<div class="author">
  <h1>Hi, I'm Hilman</h1>
  <p>Learn to Mastering Web Developer</p>
</div>

<img src="/img/hero-image.webp" alt="hero image">

<section class="content">
  <h2>Latest post</h2>
  <ul>
    <li>
      <a href="">
        <span>Post Title</span>
        <span>Delete</span>
      </a>
    </li>
  </ul>
</section>

<a href="#" class="panigation">View Older Post</a>