<div class="author">
  <h1 class="author_heading">Hi, I'm Hilman</h1>
  <p class="author_body">Learn to Mastering Web Developer</p>
</div>

<div class="hero-container">
  <img src="/img/me-at-google-office-indo.png" alt="hero image" class="hero_image">
</div>

<section class="arcticle">
  <h2 class="articles_heading">Latest post</h2>
  <ul class="article_ul">
    <li>
      <a href="">
        <span>Post Title</span>
        <span class="article_list_date">date</span>
      </a>
    </li>
  </ul>
</section>

<a href="#" class="pagination">View Older Post</a>